.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: #fff8ee;
  padding: 50px 10px;
  box-sizing: border-box;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #5a4b33;
  font-family: chava;
}

h1,
h2,
h3 {
  font-weight: 400;
}

ol,
p {
  margin: 0;
}

li h2 {
  font-family: "Advanced Pixel-7";
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
  text-decoration: underline;
}

p,
span {
  font-family: "Advanced Pixel-7";
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
}
