.root {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cloud {
  position: absolute;
  left: -175px;
  animation-name: moveL;
  transform: translateX(0);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloud.right {
  right: -175px;
  left: unset;
  animation-name: moveR;
}

@keyframes moveR {
  0% {
    right: -175px;
  }

  100% {
    right: 375px;
  }
}

@keyframes moveL {
  0% {
    left: -175px;
  }

  100% {
    left: 375px;
  }
}
